/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

// Cyber-retro colors (inspired by lamaquinadeturing.su)
// Light mode - clean white with purple accents
$cyber-white:         #ffffff !default;
$cyber-white-off:     #f8f8f8 !default;
$cyber-black:         #000000 !default;
$cyber-gray-dark:     #363636 !default;  // hsl(285, 4%, 21%) approx
$cyber-gray:          #999999 !default;  // hsl(0, 0%, 60%)
$cyber-gray-light:    #666666 !default;  // hsl(0, 0%, 40%)
$cyber-green:         #15d615 !default;  // hsl(120, 95%, 42%) - vibrant lime
$cyber-green-bright:  #39ff14 !default;  // neon green for dark mode
$cyber-purple:        #9b59b6 !default;  // vibrant purple for light mode
$cyber-purple-bright: #b509ac !default;  // brighter purple variant

// Dark mode - terminal black with green
$terminal-black:      #0a0a0a !default;
$terminal-dark:       #141414 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     $terminal-dark;
$code-bg-color-dark:      $terminal-dark;
